#header {
    text-align: left;  
    color: #000;
    background-color: transparent;
    height: 100px;
    padding-left: 20px;
    font-size: 2.2em;
    font-weight: bold;
	background: url(logo.gif) no-repeat top right;
}


* html p {
  height: 1%;
  margin-left: 0;
  }


#content  #main {
	padding: 12px 10px 0 220px;
	border-top: 25px solid #F3A217;
}


	
/* ITE elements */

#siteNav {
	background-color: #ffffff;
	width: 200px;
	float: left;
	/*n padding-top:10px;*/
	margin-top: 0px;
	margin-left: 0px;
	border-top: 25px solid #EA7617;
	line-height: 150%;
}

#siteNav ul,#siteNav li{
	margin:0;
	padding:0;
	list-style:none;
}

#siteNav a {
	display: block;
	padding: 3px 0px 3px 6px;
	color: #000;
	background-color:#FAFAFA;
	text-decoration: none;
	width:184px;
	border-bottom:0px solid #ccc;
	border-left: 10px solid #000;
}

#sitenav a:link, #sitenav a:visited {
	color: #000;
	text-decoration: none;
}
#siteNav a:hover {
	color: #000;
	font-weight: normal;
	background-color: #F4F4F4;
	border-left-color: #CCC;
}

#siteNav .active, #siteNav  a.active:hover {
	background-color: #000;
	color:#FFF;
	font-weight: normal;
	border-left-color: #F3A217;
}

#siteNav ul ul{
	border-bottom:0px solid #CCC;
}

#siteNav ul ul a{
	display: block;
	width: 180px;
	padding: 3px 0 3px 7px;
	font-size: 0.9em;
	border-left: solid 13px #F3A217;
	background-color: #CCC;
}
#siteNav ul ul  a:hover {
	color: #7D7D7D;
}
#siteNav ul ul .active {
}

#siteNav .other-section{
	display:none; /* Remove if you want all levels to be displayed */
}

#siteNav .current-page-parent{
	border-left-color: #F3A217;
}

* html #siteNav a,* html #siteNav ul ul a{ /* IE6 */
	width:184px;
}

* html #siteNav { /* IE6 */
	margin-right: 10px;
}

.pagination{
	text-align:right;
}

/* Invisible content (visible for screen reader users) */
#topPagination{
	position:absolute;
	overflow:hidden;
	clip:rect(0,0,0,0);
	height:0;
}